<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="~{fragments/header :: header-css}"/>
    <title>Tests</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"/>
    <div class="container">
        <h4>Тематический рейтинг</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ранг</th>
                    <th>email</th>
                    <th>Баллы</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ur : ${userRating}">
                    <td th:text="${ur.rank}"></td>
                    <td th:text="${ur.email}"></td>
                    <td th:text="${ur.score}"></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
                    <th>Название теста</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="test : ${tests}">
                    <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${test.id}"></td>
                    <td th:if="${test.isAvailable()}">
                        <a th:text="${test.name}" th:href="@{/test/{id}/before(id=${test.id})}"></a>
                    </td>
                    <td th:unless="${test.isAvailable()}">
                        <a th:text="${test.name}" th:href="@{/test/{id}/before(id=${test.id})}" 
                        style="color: gray;"></a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/test/{id}/delete?themeId={themeId}(id=${test.id},themeId=${themeId})}" method="post">
                            <a th:href="@{/test/{id}/questions(id=${test.id})}" class="btn btn-primary">Перейти к вопросам</a> 
                            <a th:href="@{/test/{id}/update?themeId={themeId}(id=${test.id},themeId=${themeId})}" class="btn btn-primary">Update</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/test/save?themeId={themeId}(themeId=${themeId})}" class="btn btn-primary">Add</a>
            <a class="btn btn-primary" onclick="location.href='/theme'">Назад</a>
        </div>
        <!-- tests pagination -->
        <nav th:replace="fragments/pagination :: pagination(${tests}, ${url})"></nav>
    </div>
</body>
</html>