<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="~{fragments/header :: header-css}"/>
    <title>Update Question</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"/>
    <div class="container-fluid text-center">
        <form 
            th:action="@{/test/{testId}/update/question(testId=${testId})}" 
            th:object="${question}" 
            method="post" 
            style="max-width: 350px; margin: 0 auto;">
            <div class="border border-secondary p-3 rounded">
                <p>Изменение вопроса</p>
                <!-- Add hidden form field to handle update -->
                <p><input type="hidden" th:field="*{id}" /></p>
                <p>
                    <input type="text" th:field="*{text}" class="form-control" placeholder="Текст вопроса" required />
                </p>
                <p>
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</body>
</html>