<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="~{fragments/header :: header-css}"/>
    <title>Update Test</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"/>
    <div class="container-fluid text-center">
        <form 
            th:action="@{/test/update?themeId={themeId}(themeId=${themeId})}" 
            th:object="${test}" 
            method="post" 
            style="max-width: 350px; margin: 0 auto;">
            <div class="border border-secondary p-3 rounded">
                <p>Изменение теста</p>
                <!-- Add hidden form field to handle update -->
                <p><input type="hidden" th:field="*{id}" /></p>
                <p>
                    <input type="text" th:field="*{name}" class="form-control" 
                    placeholder="Название теста" required />
                </p>
                <p>
                    Доступен пользователю <input type="checkbox" th:field="*{available}"/>
                </p>
                <p>
                    <input type="number" th:field="*{attempts}" min="1" class="form-control" 
                    placeholder="Количество попыток" required />
                </p>
                <p>
                    <input type="number" th:field="*{runtimeInMin}" min="1" class="form-control" 
                    placeholder="Время выполнения" required />
                </p>
                <p>
                    <input type="number" th:field="*{coeffOfCorrectAnswer}" class="form-control" 
                    placeholder="Модификатор очков за правильный ответ" min="0.01" step="0.01" required />
                </p>
                <p>
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</body>
</html>