<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="~{fragments/header :: header-css}"/>
    <title>Set Password</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"/>
    <div class="container-fluid text-center">
        <form method="post" 
            th:action="@{/auth/setpassword?token={token}(token=${token})}" 
            th:object="${password}" style="max-width: 550px; margin: 0 auto;">
             
            <div class="border border-secondary p-3 rounded">
                <h4><p>Введите пароль для аккаунта</p></h4>
                <p>
                    <input type="text" name="password" class="form-control" placeholder="Password" required />
                </p>
                <p>
                    <input type="submit" value="Отправить" class="btn btn-primary" />
                </p>
            </div>
        </form>      
    </div>
</body>
</html>